
<div class="page">
    <div class="container">
        <div *ngIf="list">
            <div class="title">
                <fa-icon [icon]="back" class="backIcon" [routerLink]="'/'"></fa-icon>
                <h2 style="padding-top:8px">{{ list.title }}</h2>
                <fa-icon [icon]="delete" (click)="deleteList()" class="button"></fa-icon> 
            </div>            
        
            <form (ngSubmit)="onSubmitItem()" #itemForm="ngForm">
                <div class="form">
                    <input type="text" id="content" name="content" [(ngModel)]="newItem.content" placeholder="New item content" class="input">
                    <button type="submit" [disabled]="itemForm.invalid" class="button">Add Item</button>
                </div>               
            </form>
            <div class="cards">
                <div *ngFor="let item of items">
                    <div class="item">
                        <div class="doneDiv">
                            <p class="content">{{ item.content }}</p>
                        <div *ngIf="item.status">
                            <fa-icon [icon]="check" class="textDone">Done</fa-icon>
                            </div>
                        </div>                        
                        <div *ngIf="!item.status">
                            <button (click)="markAsDone(item.id)" class="done">Done</button>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</div>
